html {
  font-family: "PT Serif", Georgia, "Times New Roman", serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "PT Sans", Helvetica, Arial, sans-serif;
  font-weight: 400;
  letter-spacing: -.025rem;
}

i.sidebar-icon {
    color: #777;
    padding-right: 9px;
}

.container {
    overflow: hidden;
}


.masthead-social {
    float: right;
}

.masthead-title {
    float: left;
}

@media (max-width: 48em) {
    .masthead-title {
        float: none;
    }
    .masthead-social {
        display: none;
    }
}

i.icon-social {
    color: #aaa;
    font-size: 1.1em;
}

i:hover.icon-social {
    color: #268bd2;
}
