$link-color: #268bd2;
$tag-color: #888;
$tag-bg-color: #ddd;
$mono-family: Consolas, 'Liberation Mono', Menlo, Courier, monospace;

html {
  font-family: "PT Serif", Georgia, "Times New Roman", serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "PT Sans", Helvetica, Arial, sans-serif;
  font-weight: 400;
  letter-spacing: -.025rem;
}

code, pre {
  font-family: $mono-family;
  font-size: 80%;
  color: #795da3;
  background-color: #f9f9f9;
}

a code {
  color: $link-color;
}

i.sidebar-icon {
    color: #777;
    padding-right: 9px;
}

.container {
    overflow: hidden;
}

.masthead-social {
    float: right;
}

.masthead-title {
    float: left;
}

@media (max-width: 48em) {
    .masthead-title {
        float: none;
    }
    .masthead-social {
        display: none;
    }
}

i.icon-social {
    color: #aaa;
    font-size: 1.1em;
}

i:hover.icon-social {
    color: $link-color;
}

.post-content {
  clear: both;
}

.tag-header {
  font-family: $mono-family;
  color: #9a9a9a;
}

.post-date {
  float: left;
  margin-bottom: 0.25rem;
}

.post-tags {
    margin-top: -1.5rem;
    float: right;
    font-family: $mono-family;
    font-size: 13px;
}

@media (min-width: 38em) {
  .post-tags {
    margin-top: -1.0rem;
  }
}

.post-tags a {
  color: #9a9a9a;

  &:hover {
    color: $link-color;
  }
}

ul.toc {
  clear: both;
}

.anchorjs-link {
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  text-decoration: none;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;

  color: #666;

  &:hover {
    text-decoration: none;
  }

  &:active {
    color: #f00;
  }
}

a.read-more {
  color: #aaa;
  font-size: 0.85rem;

  &:hover {
    color: $link-color;
  }
}

.cover-image {
  margin: 0.2rem auto;
  display: block;
}

.clear {
  clear: both;
}

hr.hr-thin {
  clear: both;
  margin-bottom: 0.6rem;
  margin-top: 0.6rem;
}

@media (min-width: 48.01em) {
  .sidebar-toggle {
    position: fixed;
  }
}
